 .u-section-1 {
  min-height: 670px;
  background-image: url("images/vbvb.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 690px;
  background-image: url("images/pexels-hasan-albari-1229861.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 690px;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 30px 60px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 33px auto 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 13px 56px 15px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 292px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 569px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    min-height: 563px;
    background-position: 50% 100%;
    order: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px 100px 50px 80px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 67px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 441px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 65px;
    padding-right: 70px;
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 42px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 338px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 60px 40px 30px 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 652px;
}

.u-section-2 .u-text-1 {
  width: 697px;
  margin: 70px auto 0;
}

.u-section-2 .u-list-1 {
  width: 448px;
  margin: 38px 329px 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 304px;
  grid-gap: 24px 24px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 16px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-right: 272px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-right: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: url("images/hjhjh.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 842px;
}

.u-section-3 .u-shape-1 {
  width: 770px;
  height: 633px;
  margin: 104px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 486px;
  height: 702px;
  margin: -667px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 545px;
  min-height: 551px;
  height: auto;
  margin: -647px 70px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-3 .u-image-1 {
  width: 539px;
  height: 359px;
  margin: 81px auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 501px;
  min-height: 498px;
  height: auto;
  margin: -534px auto 60px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.7999999999999998;
  margin: 28px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 13px 56px 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-3 .u-shape-1 {
    height: 598px;
    margin-top: 96px;
  }

  .u-section-3 .u-shape-2 {
    width: 316px;
    height: 577px;
    margin-top: -633px;
  }

  .u-section-3 .u-group-1 {
    width: 449px;
    min-height: 478px;
    margin-top: -527px;
    margin-right: 21px;
    height: auto;
  }

  .u-section-3 .u-image-1 {
    height: 383px;
    width: 389px;
    margin-top: 18px;
    margin-bottom: -28px;
  }

  .u-section-3 .u-group-2 {
    width: 454px;
    min-height: 519px;
    margin-top: -455px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-3 .u-shape-1 {
    height: 555px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 498px;
    height: 784px;
    margin-top: -73px;
    margin-right: 25px;
  }

  .u-section-3 .u-group-1 {
    width: 631px;
    min-height: 618px;
    margin-top: -678px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 556px;
    height: 523px;
    margin-top: 14px;
    margin-bottom: 0;
  }

  .u-section-3 .u-group-2 {
    width: 692px;
    min-height: 419px;
    margin-top: -1168px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-3 .u-shape-2 {
    width: 393px;
    height: 698px;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 574px;
    width: 500px;
    margin-top: -636px;
  }

  .u-section-3 .u-image-1 {
    width: 443px;
    height: 454px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-top: -1193px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-3 .u-shape-2 {
    width: 250px;
    height: 428px;
    margin-top: 58px;
  }

  .u-section-3 .u-group-1 {
    min-height: 340px;
    width: 300px;
    margin-top: -384px;
  }

  .u-section-3 .u-image-1 {
    width: 260px;
    height: 277px;
    margin-top: 13px;
  }

  .u-section-3 .u-group-2 {
    min-height: 497px;
    margin-top: -971px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: url("images/hjhjh.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 994px;
}

.u-section-4 .u-image-1 {
  width: 823px;
  height: 880px;
  margin: 114px 0 0 auto;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -848px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 36px 716px 0 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 726px 0 0;
}

.u-section-4 .u-list-1 {
  width: 318px;
  margin: 40px auto 56px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-4 .u-image-1 {
    width: 546px;
    height: 814px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 516px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 526px;
  }

  .u-section-4 .u-list-1 {
    width: 584px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1723px;
  }

  .u-section-4 .u-image-1 {
    height: 761px;
    margin-top: 962px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -1643px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 306px;
  }

  .u-section-4 .u-list-1 {
    width: 665px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1854px;
  }

  .u-section-4 .u-image-1 {
    height: 805px;
    margin-top: 1049px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -1774px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 126px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1969px;
  }

  .u-section-4 .u-image-1 {
    height: 492px;
    margin-top: 1476px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -1892px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: url("images/hjhjh.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1123px;
}

.u-section-5 .u-shape-1 {
  height: 528px;
  width: 451px;
  margin: 60px auto 0 0;
}

.u-section-5 .u-shape-2 {
  width: 471px;
  height: 637px;
  margin: -915px 0 0 auto;
}

.u-section-5 .u-image-1 {
  width: 1013px;
  height: 675px;
  margin: -566px 62px 0 auto;
}

.u-section-5 .u-group-1 {
  width: 464px;
  min-height: 534px;
  background-image: none;
  margin: -299px auto -327px 63px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.75rem;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 13px 56px 15px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-5 .u-shape-1 {
    height: 485px;
    width: 450px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -872px;
  }

  .u-section-5 .u-image-1 {
    width: 814px;
    height: 620px;
    margin-right: auto;
  }

  .u-section-5 .u-group-1 {
    min-height: 505px;
    margin-top: -244px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-2 {
    height: 439px;
  }

  .u-section-5 .u-image-1 {
    height: 448px;
    width: 594px;
    margin-top: -367px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -72px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    margin-top: 447px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 407px;
  }

  .u-section-5 .u-group-1 {
    width: 414px;
    min-height: 502px;
    margin-top: -31px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-5 .u-shape-1 {
    height: 230px;
    width: 170px;
    margin-top: 60px;
  }

  .u-section-5 .u-shape-2 {
    width: 207px;
    height: 173px;
    margin-top: -370px;
  }

  .u-section-5 .u-image-1 {
    width: 280px;
    height: 203px;
    margin-top: -135px;
  }

  .u-section-5 .u-group-1 {
    width: 310px;
    min-height: 567px;
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: -79px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexels-photo-9392381.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 747px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 966px;
  margin: 75px auto 52px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 597px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-6 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-size: 1.125rem;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 597px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 55px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 18px 0;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  width: 183px;
  margin: 60px auto 0;
}

.u-section-6 .u-text-5 {
  width: 313px;
  font-size: 1rem;
  margin: 18px auto 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 75px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    width: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}